	.area {
		display: flex;
		flex - wrap: wrap;
		border-style: solid;
		border-width: 1px;
		padding: 10px;
		margin: 10px;
	}
	.group {
		display: flex;
		flex-direction: column;
		border-style: solid;
		border-width: 1px;
		padding: 8px;
		margin: 8px;
	}
	.service_group {
		display: flex;
		flex-direction: column;
		padding: 8px;
		margin: 8px;
	}
	.service {
		border-style: solid;
		border-width: 1px;
		padding: 5px;
		margin: 5px;
	}
	.percentage {
		float: right;
		border-style: solid;
		border-width: 1px;
		font-size: small;
		font-weight: bold;
	}
	.perc_green {
		border-color: Green;
		background-color: Lightgreen;
		color: Green;
	}
	.perc_yellow {
		border-color: GoldenRod;
		background-color: LemonChiffon;
		color: GoldenRod;
	}
	.perc_red {
		border-color: Red;
		background-color: PeachPuff;
		color: Red;
	}